<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- To let know the spring that we are using the aop. We shold use this.   -->
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>


	<bean name="circle" class="com.vikas.model.Circle">
		<property name="name" value="CircleName"></property>
	</bean>

	<bean name="triangle" class="com.vikas.model.Triangle">
		<property name="name" value="Trianglename"></property>
	</bean>
	
	<bean name="shapeService" class="com.vikas.service.ShapeService" autowire="byName">
	</bean>
	
	<bean name="loggingAspect" class="com.vikas.aspects.LoggingAspect"></bean>
</beans>